$primaryGray: rgb(71, 68, 68);
$mainWhite: white;
$mainYellow: rgb(187, 165, 66);

html {
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: share;
  overflow-x: hidden !important;
}

/*   navigation menu*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: $primaryGray;
  z-index: 30;
  top: 0;
  position: sticky;

  .head {
    display: flex;
    margin-left: 2rem;
    img {
      border-radius: 50%;
    }

    h1 {
      font-size: 2.4rem;
      font-weight: 700;
      font-family: playball;
      color: $mainWhite;
      margin-left: 0.2rem;
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    .link {
      text-decoration: none;
      color: $mainWhite;
      cursor: pointer;
    }
    li {
      transition: all 0.5s linear;
      list-style: none;
      letter-spacing: 0.2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;

      height: 10vh;
      line-height: 10vh;
      &:hover {
        color: $mainYellow;
        .sub-nav {
          transform: translateX(-27%);
        }
      }
      .sub-nav {
        background-color: $primaryGray;
        text-align: center;
        position: absolute;
        transform: translateY(-150%);
        padding: 1rem;
        z-index: 20;
        transition: all 0.2s ease-in;
        box-shadow: 1px 2px 0 0 rgba($color: #000000, $alpha: 2);
      }
    }
  }
  .bar {
    color: white;
    margin-right: 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
    &:hover {
      opacity: 0.7;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 65%;
    }
  }
  @media screen and (max-width: 780px) {
    .nav-links {
      position: absolute;
      top: 90%;
      right: 0;
      display: flex;
      align-items: center;
      height: 50vh;
      flex-direction: column;
      transform: translateX(100%);
      width: 100%;
      padding-bottom: 2rem;
      z-index: 20;
      background-color: $primaryGray;
      opacity: 0;
      li {
        width: 100%;
        text-align: center;

        &:hover {
          .sub-nav {
            display: block;
            color: rgb(93, 151, 7);
          }
        }
      }
      .sub-nav {
        position: absolute;
        left: 100%;
        margin-left: 1.5rem;
        margin-top: -5rem;

        display: none;
        background-color: $primaryGray;
      }
    }
    .bar {
      display: block;
    }
  }
  .nav-show {
    @extend .nav-links;
    transform: translate(0);
    opacity: 1;
    animation: show-menu 1s linear;
  }
  @keyframes show-menu {
    from {
      opacity: 0.5;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*   navigation menu*/
